<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&family=Roboto:wght@400;700&display=swap');
      </style>
    <title>Superhéroes</title>
  </head>
  <body>
    <nav class="nav-container">
      <ul>
        <li><a href="/"><span id="logo">SUPERHÉROES</span></a></li>
        <li><a href="/">INICIO</a></li>
        <li><a href="/babbage">BABBAGE</a></li>
        <li><a href="/berners-lee">BERNERS LEE</a></li>
        <li><a href="/clarke">CLARKE</a></li>
        <li><a href="/hamilton">HAMILTON</a></li>
        <li><a href="/hopper">HOPPER</a></li>
        <li><a href="/lovelace">LOVELACE</a></li>
        <li><a href="/turing">TURING</a></li>
      </ul>
    </nav>
    <h2 id="elegir">Elegí a tu superhéroe</h2>
    <div class="super-container">
      <div>
        <a href="/babbage"><img src="/img/Babbage.png" alt="foto de babbage" /></a>
        <br />
        <h3>BABBAGE</h3>
      </div>
      <div>
        <a href="/berners-lee"><img src="/img/berners-lee.png" alt="foto de tim berners-lee" /></a>
        <br />
        <h3>BERNERS-LEE</h3>
      </div>
      <div>
        <a href="/clarke"><img src="/img/clarke.png" alt="foto de joan clarke" /></a>
        <br />
        <h3>CLARKE</h3>
      </div>
      <div>
        <a href="/hamilton"><img src="/img/hamilton.png" alt="foto de hamilton" /></a>
        <br />
        <h3>HAMILTON</h3>
      </div>
      <div>
        <a href="/hopper"><img src="/img/hopper.png" alt="foto de Grace Hopper" /></a>
        <br />
        <h3>HOPPER</h3>
      </div>
      <div>
        <a href="/lovelace"><img src="/img/lovelace.png" alt="foto de ada lovelace" /></a>
        <br />
        <h3>LOVELACE</h3>
      </div>
      <div>
        <a href="/turing"><img src="/img/turing.png" alt="foto de alan turing" /></a>
        <br />
        <h3>TURING</h3>
      </div>
    </div>
  </body>
</html>
