<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&family=Roboto:wght@400;700&display=swap');
        </style>
    <title>Superhéroes</title>
  </head>
  <body>
    <nav class="nav-container">
      <ul>
        <li><a href="/"><span id="logo">SUPERHÉROES</span></a></li>
        <li><a href="/">INICIO</a></li>
        <li><a href="/babbage">BABBAGE</a></li>
        <li><a href="/berners-lee">BERNERS LEE</a></li>
        <li><a href="/clarke">CLARKE</a></li>
        <li><a href="/hamilton">HAMILTON</a></li>
        <li><a href="/hopper">HOPPER</a></li>
        <li><a href="/lovelace">LOVELACE</a></li>
        <li><a href="/turing">TURING</a></li>
      </ul>
    </nav>
    <div class="container">
      <h2 id="hopper">Grace Murray Hopper</h2>
      <img src="/img/hopper.png" alt="foto de grace murray hopper" />
      <br />
      <h3>
        Fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.
      </h3>
    </div>
  </body>
</html>